<div id="btndiv">
    <input type="button" id="searchbtn" />
    <input type="button" id="dispbtn"/>
</div>
<div id="pv">
    @section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('#searchbtn').click(function () {
                    $.ajax({
                        url: '@Url.Action("search","StudentController")',
                        type: "get",
                        sucess: function (data) {$('#container').html(data)

                        }
                    })

                })
                
            })
        </script>
        
        }

</div>
<div id="container"></div>