@*@model IEnumerable<codefirst.Models.Student>*@
@{
    ViewBag.Title = "search";
}

<h2>search</h2>

<div>
    <input type="button" value="Search" id="btnSearch" />
</div>

<div id="divResult"></div>
@section scripts{

    <script type="text/javascript">
    $(document).ready(function () {
        $('#btnSearch').click(function(){
            $.ajax({
                url: "/Student/Details_PV",

                success:function(result)
                {
                   // $('#divResult').html($(this).val());

                    $('#divResult').html(result);
                }
            });
        });
    });
    </script>
}